.swiper-pagination-bullet {
	background: var(--color-emerald-950);
	padding: 8px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	content: "";
	display: none;
}

.swiper-button-next,
.swiper-button-prev
 {
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
}

.swiper-button-next {
		background-image: url("/next.svg");
}
.swiper-button-prev {
		background-image: url("/prev.svg");
}

:root {
	--swiper-navigation-color: transparent;
	--swiper-navigation-size: 25px;
}
