.js-container {
  width: 100%;
  max-width: 500px;
  min-height: 80vh;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.messages-container {
  height: 79dvh;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 15px;
  max-width: 85%;
  word-wrap: break-word;
}

.message-content {
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 1.4;
  max-width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.userMessage {
  margin-left: auto;
  justify-content: flex-end;
}

.userMessage .message-content {
  background-color: #007bff;
  color: white;
  border-bottom-right-radius: 5px;
}

.botMessage {
  margin-right: auto;
  justify-content: flex-start;
}

.botMessage .message-content {
  background-color: #e9e9eb;
  color: #333;
  order: 1;
  border-bottom-left-radius: 5px;
}

.botMessage .profile {
  order: 0;
}

.userMessage .profile {
  order: 1;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}

.botMessage .profile {
  background: #38c172;
}

.userMessage .profile {
  background: #007bff;
}

.chat-input-container {
  display: flex;
  padding-top: 15px;
  padding: 15px 0 0 0;
  border-top: 1px solid #eee;
  gap: 10px;
}

.searchInput {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}
