*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
:root {
    --main-color: #f7c110;
    --main-color-dark: #fa5514;
    --ray-color: #f5de11;
    --spark-color: #f59f1f;
    --back-color: #111111;
}
#root {
    min-height: 100dvh;
    width: 100%;
}
body{
    width: 100%;
    min-height: 100dvh;
}
section{
    padding: 0;
    margin: 0;
    height: 100dvh;
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg::after{
    content: '';
    display: block;
    background: linear-gradient(transparent, transparent, #222);
    width: 100%;
    height: 100dvh;
    z-index: -4;
}
#bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    top: 0;
}
#cloud1{
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -10;
}
#cloud2{
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -10;
}
#goku{
    position: fixed;
    width: clamp(100px, 200px, 300px);
    bottom: 0;
    z-index: -10;
}
.title{
    position: fixed;
    font-size: clamp(2rem, calc(5rem + 8%), 6rem);
    color: #fff;
    top: 40%;
    z-index: -5;
}

article{
    display: none;
    background: #222;
    color: #fff;
}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
}
h2{
    font-size: clamp(2rem, 3rem, 4rem);
}


.loading-page{
    width: 100%;
    height: 100dvh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_circle{
    width: 100%;
    height: 100dvh;
    background: #222;
    display: grid;
    place-content: center;
    animation: dissapear 1s cubic-bezier(.22,.71,1,.07);
    animation-delay: 5s;
}
.circle{
    width: 150px;
    height: 150px;
    background: radial-gradient(var(--ray-color), var(--main-color));
    border-radius: 50%;
    box-shadow: 0 0 30px #fff;
    position: relative;
    z-index: 10;
    animation: grow 8s both infinite cubic-bezier(.22,.71,1,.07);
}
.circle::after{
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    background: radial-gradient(var(--ray-color), var(--main-color));
    border-radius: 50%;
}
.spark{
    width: 10px;
    height: 10px;
    background: var(--spark-color);
    border-radius: 50%;
    position: absolute;
    z-index: -10;
    animation: to-center 1s infinite forwards;
}

.circle div:nth-child(1){
    top: -30%;
    left: -20%;
}
.circle div:nth-child(2){
    top: -40%;
    left: 10%;
}
.circle div:nth-child(3){
    top: -30%;
    left: 110%;
}
.circle div:nth-child(4){
    top: 150%;
    left: 30%;
}
.circle div:nth-child(5){
    top: 130%;
    left: 70%;
}
.circle div:nth-child(6){
    top: 110%;
    left: 0;
}
.circle div:nth-child(7){
    top: 50%;
    left: -50%;
}
.circle div:nth-child(8){
    top: 40%;
    left: 130%;
}
.circle div:nth-child(9){
    top: 105%;
    left: 130%;
}
.circle div:nth-child(10){
    top: 80%;
    left: -20%;
}

@keyframes to-center {
    from{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0;
        top: 50%;
        left: 50%;
    }
}
@keyframes grow {
    0%{
        transform: scale(0.7);
    }
    30%{
        transform: scale(1);
        outline: 3px solid var(--ray-color);
        outline-offset: 0px;
    }
    60%{
        outline-offset: 50px;
        transform: scale(0.7);
    }
    to {
        transform: scale(0);
    }
}
@keyframes dissapear {
    from{
        width: 50dvh;
        height: 50dvh;
        border-radius: 49%;
    }
    to{
        width: 0px;
        height: 0px;
        border-radius: 50%;
    }
}